
      .box {        
          border: 1px solid rgb(255, 255, 255);
          background-color: rgba(237, 237, 237, 0.575);
      }      

      p#clima {
        font-family: font_imperial;
        font-size: 15px;
        color: rgb(0, 0, 0);
        position: absolute;
        margin: 9px;
      }
      p#fecha {
        font-family: font_imperial;
        font-size: 15px;
        color: rgb(0, 0, 0);
        
        margin: 9px;
        text-align: right;
      }
      p#nombre {
        font-family: font_title;
        text-align: center;
        font-size: 50px;
        color: rgb(0, 0, 0);
        margin: 10px;
        margin-top: -20px;
      }
      p#titulo {
        margin-top: 60px;
        font-family: font_bold_italic;
        font-size: 50px;
        color: rgb(0, 0, 0);
        text-align: center;
      }

      .subtitulo {
        font-family: font_italic;
        font-size: 40px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 20px;
      }

      .cuerpo {
        font-family: font_imperial;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 20px;
      }

      

      @font-face {
      font-family: font_title;
      src: url('/tipografias/Ancient Medium.ttf');
    }
      @font-face {
      font-family: font_body;
      src: url('/tipografias/Cheltenham BT.ttf');
    }
      @font-face {
      font-family: font_italic;
      src: url('/tipografias/Cheltenhm BT Italic.ttf');
    }
      @font-face {
      font-family: font_bold_italic;
      src: url('/tipografias/Cheltenham Bold Italic Headline BT.ttf');
    }
      @font-face {
      font-family: font_imperial;
      src: url('/tipografias/Imperial Regular.otf');
    }


    #chart_1 svg, #chart_2 svg, #chart_3 svg {
      max-width: initial;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      margin-bottom: 3em;
  }

     