
    .box {        
          border: 1px solid rgba(238, 238, 238, 0.932);    
          background-color: rgba(238, 238, 238, 0.468);
    }      
    .outer{
        text-align: center;
        margin: 0;
        padding: 0;
        display:flex;
    }
    .boton{
        flex:2;
        display: inline-block;
        width: 20%;
        padding: 10px;
        text-align: center;    
        border: 1px solid rgb(198, 198, 198);
        background-color: rgba(231, 229, 229, 0.932);
        font-family: font_imperial;
        font-size: 16px;
        color: rgb(0, 0, 0);
        text-align: center;
    }   
    .boton:hover{
        background-color: rgb(221, 220, 220);
    }
  
    p#clima {
        font-family: font_imperial;
        font-size: 15px;
        color: rgb(0, 0, 0);
        position: absolute;
        margin: 9px;
      }
      p#fecha {
        font-family: font_imperial;
        font-size: 15px;
        color: rgb(0, 0, 0);
        
        margin: 9px;
        text-align: right;
      }
      p#nombre {
        font-family: font_title;
        text-align: center;
        font-size: 60px;
        color: rgb(0, 0, 0);
        margin: 10px;
        margin-top: -20px;
      }
      p#nombre_mini {
        font-family: font_title;
        text-align: center;
        font-size: 32px;
        color: rgb(0, 0, 0);
        margin: 7px;
        margin-top: 5px;
      }
      p#titulo {
        margin-top: 60px;
        font-family: font_bold_italic;
        font-size: 45px;
        color: rgb(0, 0, 0);
        text-align: center;
      }

      p#leyenda {
        text-align: center;
        font-family: font_imperial;
        font-size: 15px;
        color: rgb(0, 0, 0);
        margin-top: 30px;
        margin-bottom: -40px;

      }

      .subtitulo {
        font-family: font_italic;
        font-size: 35px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 10px;
      }

      .cuerpo {
        font-family: font_imperial;
        font-size: 16px;
        color: rgb(111, 111, 111);
        text-align: left;
        line-height: 23px; 
        max-width: 750px;
        margin:auto;
        margin-top: 30px;
      }
      
      .cuerpo_negrita {
        font-family: font_imperial;
        font-size: 16px;
        color: rgb(111, 111, 111);
        text-align: center;
        line-height: 23px; 
        font-weight: bold;
      }

      .pregunta {
        font-family: font_italic;
        font-size: 22px;
        color: rgb(111, 111, 111);
        text-align: center;
        margin-top: 30px;
        margin-left: 20%;
        margin-right: 20%;
        line-height: 23px; 
      }

      #cuerpo_final {
        font-family: font_imperial;
        font-size: 16px;
        color: rgb(111, 111, 111);
        text-align: left;
        line-height: 23px; 
        max-width: 750px;
        margin:auto;
        margin-bottom: 50px;
      }
      
      .abajo {
        font-family: font_imperial;
        font-size: 16px;
        color: rgb(111, 111, 111);
        text-align: center;
        padding: 10px;
      }

      @font-face {
      font-family: font_title;
      src: url('/tipografias/Ancient Medium.ttf');
    }
      @font-face {
      font-family: font_body;
      src: url('/tipografias/Cheltenham BT.ttf');
    }
      @font-face {
      font-family: font_italic;
      src: url('/tipografias/Cheltenhm BT Italic.ttf');
    }
      @font-face {
      font-family: font_bold_italic;
      src: url('/tipografias/Cheltenham Bold Italic Headline BT.ttf');
    }
      @font-face {
      font-family: font_imperial;
      src: url('/tipografias/Imperial Regular.otf');
    }


    #chart_1 svg {
      margin: auto;
      position: relative;
      justify-content: center;
    }

    #chart_2 svg, #chart_3 svg {
      max-width: initial;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      margin-bottom: 3em;
  }

     