
      .box {        
          border: 1px solid rgba(238, 238, 238, 0.932);    
          background-color: rgba(238, 238, 238, 0.932);
      }      
      .outer{
        /*list-style-type: none;*/
        text-align: center;
        margin: 0;
        padding: 0;
        display:flex;
    }
    .boton{
        flex:2;
        display: inline-block;
        width: 20%;
        padding: 10px;
        text-align: center;    
        border: 1px solid rgb(198, 198, 198);
        background-color: rgba(221, 221, 221, 0.932);
        font-family: font_imperial;
        font-size: 17px;
        color: rgb(0, 0, 0);
        text-align: center;
    }   


      p#clima {
        font-family: font_imperial;
        font-size: 15px;
        color: rgb(0, 0, 0);
        position: absolute;
        margin: 9px;
      }
      p#fecha {
        font-family: font_imperial;
        font-size: 15px;
        color: rgb(0, 0, 0);
        
        margin: 9px;
        text-align: right;
      }
      p#nombre {
        font-family: font_title;
        text-align: center;
        font-size: 60px;
        color: rgb(0, 0, 0);
        margin: 10px;
        margin-top: -10px;
        
      }
      p#titulo {
        margin-top: 60px;
        font-family: font_bold_italic;
        font-size: 45px;
        color: rgb(0, 0, 0);
        text-align: center;
      }

      .subtitulo {
        font-family: font_italic;
        font-size: 35px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 10px;
      }

      .cuerpo {
        font-family: font_imperial;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
      }

      #cuerpo_final {
        font-family: font_imperial;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-bottom: 50px;
      }
      
      .abajo {
        font-family: font_imperial;
        font-size: 16px;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
      }

      @font-face {
      font-family: font_title;
      src: url('/tipografias/Ancient Medium.ttf');
    }
      @font-face {
      font-family: font_body;
      src: url('/tipografias/Cheltenham BT.ttf');
    }
      @font-face {
      font-family: font_italic;
      src: url('/tipografias/Cheltenhm BT Italic.ttf');
    }
      @font-face {
      font-family: font_bold_italic;
      src: url('/tipografias/Cheltenham Bold Italic Headline BT.ttf');
    }
      @font-face {
      font-family: font_imperial;
      src: url('/tipografias/Imperial Regular.otf');
    }


    #chart_1 svg {
      max-width: initial;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    }

    #chart_2 svg, #chart_3 svg {
      max-width: initial;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      margin-bottom: 3em;
  }

     